**Naive Bayes Theorem to classify the Survival of Passenger in Titanic Dataset**

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.naive_bayes import *

In [3]:
#Mount Google Drive

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
#Import Training Dataset

titanic = pd.read_csv('/content/drive/My Drive/ML and AI/Assignments/Dataset/Titanic Dataset/train.csv')
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
#Check for null values

titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [6]:
# check the columns in the dataset

titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
#Preprocess the data, Convert the String columns in to numbers

label_encoder = preprocessing.LabelEncoder()
titanic['Sex'] = label_encoder.fit_transform(titanic['Sex'])
titanic['Embarked'] = label_encoder.fit_transform(titanic['Embarked'])

In [ ]:
#Create X and Y datatset
#Drop PassengerId, Name, Cabin, Ticket from dataset as they are not significant

Y = titanic[['Survived']]
X = titanic.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Survived'], axis = 1)

In [ ]:
#Split the dataset into training and testing dataset

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [ ]:
#Check the shapes and sizes to understand and verify that the splits has been done in 30-70% ratio

print("Dataset Shape", titanic.shape)
print("X_train Shape", X_train.shape)
print("X_test Shape", X_test.shape)
print("Y_train Shape", Y_train.shape)
print("Y_test Shape", Y_test.shape)

Dataset Shape (889, 12)
X_train Shape (622, 7)
X_test Shape (267, 7)
Y_train Shape (622, 1)
Y_test Shape (267, 1)

In [ ]:
#Build the model and predict for test dataset

clf = BernoulliNB()
ypred = clf.fit(X_train, Y_train).predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
#Print the accuracy score and confusion matrix

print('Accuracy Score is : ', accuracy_score(Y_test, ypred, normalize=True))
confusion_matrix(Y_test, ypred)

Accuracy Score is :  0.7715355805243446

array([[131,  26],
       [ 35,  75]])